<h1>Cadastrar novas traducoes</h1>

<h2>Formulario</h2>
<%=form_for(Card.new) do |f|%>
    <%= f.label :portugues%>
    <%= f.text_field :portugues%>
    <%= f.label :ingles%>
    <%= f.text_field :ingles%>
    <%= f.submit %>
<%end%>
<br/>
<a href="/"> Voltar </a> 